<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcriber</title>
    <link rel="stylesheet" href="style1.css">
    
</head>

<body>
    <h1>YouTube Transcriber</h1>
    <form action="/process" method="post">
        <label class="lab" for="video_url">Enter YouTube video URL:</label><br>
        <input type="text" id="video_url" name="video_url"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
